<h1>Add New Book</h1>

<form action="/addnewbook" method="post">
    <input type="text" name="bookname" placeholder="Enter the book name to add" />
    <button type="submit">Add New Book</button>
</form>