<h1>My Library Home</h1>

<a href="/addnewbook">Add New Book</a>

<h3>Books Available</h3>

@if(ViewBag.Books != null)
{
    <ul>
        @foreach(var book in ViewBag.Books)
        {
            <li>@book</li>
        }
    </ul>
}